.result {
	text-align: center;
	display: none;
}

table {
	margin: 80px auto;
}

.cell {
	box-sizing: border-box;
	width: 32px;
	height: 32px;
	border: 2px solid #aaa;
	text-align: center;
	vertical-align: middle;
	transition: border-color 1s;
}

.cell.close {
	background-color: #ccc;
}

.detecting .cell.close:hover {
	cursor: zoom-in;
}

.detecting .cell.close.mine:hover {
	border-color: #f00;
}

.cell.close.flag {
	background-image: url(../img/flag.png);
	background-position: center;
	background-size: 80%;
	background-repeat: no-repeat;
}

.cell.close>* {
	display: none;
}

.mine>* {
	width: 70%;
	height: 70%;
	display: inline-block;
	background: url(../img/mine.png) center/contain no-repeat;
}
